{
    "config_location": "",
    "demo_secured_java_ws": {
        "_constant": "WSDL_CACHE_NONE:0, WSDL_CACHE_DISK:1, WSDL_CACHE_MEMORY:2, WSDL_CACHE_BOTH:3, SOAP_1_2:2, SOAP_COMPRESSION_ACCEPT:32",
        "soap_config": {
            "wsdl": "http://hostname/path/to/wsdlfile",
            "default_endpoint": "http://hostname/path/to/service_endpoint",
            "default_uri": "http://hostname",
            "trace_enable": false,
            "cache_wsdl": 2,
            "soap_version": 2,
            "compression": 32
        },
        "keystore_config": {
            "cert_path": "key/test_client_cert.pem",
            "private_key_path": "key/test_client_privatekey.pem",
            "public_key_path": "key/test_server_publickey.pem",
            "ssl_local_cert": "key/test_ssl_cert.pem"
        },
        "security_config": {
            "request_encrypted": true,
            "response_encrypted": true,
            "add_local_cert": false
        },
        "logging_config": {
            "log_level": "DEV",
            "log_path": "clientlog"
        }
    }
}